%nav.navbar.navbar-default.navbar-fixed-top.global-topbar
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{'data-target' => '#navbarEexample7', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbarEexample7.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.navbar-nav
          = link_to root_path do
            = fa_icon('home lg')
            ホーム
        %li.navbar-nav
          = link_to root_path do
            = fa_icon('flash lg')
            モーメント
        %li.navbar-nav
          = link_to root_path do
            = fa_icon('bell lg')
            通知
        %li.navbar-nav
          = link_to root_path do
            = fa_icon('commenting lg')
            メッセージ
        %li.navbar-nav.navbar-twiiter-icon
          = link_to fa_icon('twitter lg'), root_path, id: 'user-page-twitter-icon'
      %button.btn.btn-default.navbar-btn.navbar-right{type: 'button', id: 'tweet-btn'} ツイート
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '', :role => 'button'}
            ユーザ
            %span.caret
          %ul.dropdown-menu{:role => 'menu'}
            %li
              = link_to root_path do
                = fa_icon('home lg')
                ホーム
            %li
              = link_to root_path do
                = fa_icon('flash lg')
                モーメント
            %li
              = link_to 'ログアウト', destroy_user_session_path, method: :delete
      %form.navbar-form.navbar-right{role: 'search'}
        .form-group
          %input.form-control{placeholder: 'キーワード検索', type: 'text'}/
        %button.btn.btn-default{type: 'submit'} 検索
.t-contents
  .t-content-left
    .t-content-left-top
      .t-content-left-top__background-image
      .t-content-left-top__pofile-image
      .t-content-left-top__name
      .t-content-left-top__user-name
      .t-content-left-top__user-tweet-count
      .t-content-left-top__follow-count
      .t-content-left-top__follower-count
    .t-content-left-bottom
  .t-content-center
    .t-content-center-top
      = form_for @tweet do |f|
        = f.text_field :body, placeholder: '  いまどうしてる？', class: 't-content-center-top-textfield'
        = f.submit 'ツイート', class: 't-content-center-top-send-btn'
    .t-content-center-bottom
      = render partial: 'tweet', collection: @tweets
  .t-content-right
    .t-content-right-top
      .t-content-right-top__recommend-user
    .t-content-right-center
      .t-content-right-center__find-user-for-gmail
    .t-content-right-bottom
      .t-content-right-bottom__any-menu
