.t-topnavbar-tweet-modal-textarea
  = form_for @tweet do |f|
    = f.text_area :body, placeholder: " いまどうしてる？", rows: 3, cols: 'auto', class: 'form-control', id: 'input-textarea'
    = f.file_field :image, style: 'display: none', id: 'file_field'
    = f.submit 'ツイート', type: 'hidden', class: 'hidden-tweet-btn'
    .t-topnavbar-tweet-modal-bottom
      %nav.navbar.navbar-default
        .navbar-header
          %button.navbar-toggle.collapsed{'data-target' => '#navbarEexample7', 'data-toggle' => 'collapse', :type => 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbarEexample7.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.navbar-nav
              = fa_icon('camera lg', class: 't-topnavbar-tweet-modal-bottom-icon', id: 'navbar-input-camera-icon')
            %li.navbar-nav
              = fa_icon('file-video-o lg', class: 't-topnavbar-tweet-modal-bottom-icon')
            %li.navbar-nav
              = fa_icon('bar-chart lg', class: 't-topnavbar-tweet-modal-bottom-icon')
            %li.navbar-nav
              = fa_icon('map-marker lg', class: 't-topnavbar-tweet-modal-bottom-icon')
          %button.btn.btn-default.navbar-btn.navbar-right.t-content-center-tweet-bottom-send-btn
            %span.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}
            ツイート
