.create-category
  .form-horizontal
    = form_for @category do |f|
      .form-group.line
        %label.col-sm-8.control-label{:for => "InputEmail"} 新規カテゴリーを作成or既存カテゴリーを選択
      .form-group
        %label.col-sm-3.control-label{:for => "InputEmail"} カテゴリー名
        .col-sm-7
          = f.text_field :name, placeholder: 'カテゴリー名を入力してください', class: 'form-control'
      .form-group
        %label.col-sm-3.control-label{:for => "InputSelect"} 選択
        .col-sm-7
          %select#InputSelect.form-control
            %option 選択しない
            %option サッカー
            %option ゲーム
            %option ビジネス
            %option その他
      .form-group
        .col-sm-offset-3.col-sm-7
          = f.submit '送信', class: 'btn btn-default', data:{disable_with: '送信中'}

.modal-background-color
.new
  = render partial: '/shared/top-navbar'
  .t-contents
    .t-content-left
      .t-content-left-top
        .panel.panel-default
          .panel-body
            = link_to root_path, class: "current_user" do
              .user-profile-image-ground
                = image_tag(current_user.profile_image, class: 'user-profile_image') if current_user.profile_image?
              .user-background_image
                = image_tag(current_user.background_image, class: 'user-background_image') if current_user.background_image?
              .user-info
                .user-name
                  = current_user.name
                .user-id
                  = current_user.user_name
            .user-activity
              .row
                .col-xs-4.tweets-num
                  .text
                    ツイート
                  .num
                    = link_to current_user.tweets.count, root_path
                .col-xs-4.follow-num
                  .text
                    フォロー
                  .num
                    = link_to current_user.following.count
                .col-xs-4.follower-num
                  .text
                    フォロワー
                  .num
                    = link_to current_user.followers.count
        .t-content-left-top__background-image
        .t-content-left-top__pofile-image
        .t-content-left-top__name
        .t-content-left-top__user-name
        .t-content-left-top__user-tweet-count
        .t-content-left-top__follow-count
        .t-content-left-top__follower-count
      .t-content-left-bottom
        = render partial: '/tweets/t-content-left-bottom'
    .t-content-center
      .t-content-center-tweet
        .t-content-center-tweet-top
          = render partial: 'tweets/t-content-center-tweet-top'
      .t-content-center-bottom
        = render partial: '/tweets/tweet', collection: @tweets
    .t-content-right
      .t-content-right-top
        .t-content-right-top-title
          .t-content-right-top-title__name
            おすすめユーザー
          .t-content-right-top-title__update
            更新
          .t-content-right-top-title__see-all
            すべて見る
        .t-content-right-top-recommend-user-list
          - @user.each do |user|
            = render partial: '/tweets/t-content-right-top-recommend-user-list', locals: { user: user }
      .t-content-right-center
        = render partial: '/tweets/t-content-right-center'
      .t-content-right-bottom
        .t-content-right-bottom__any-menu
          .first-stage
            © 2017 Twitter / Twitterについて
          .second-stage
            クッキー / 広告について / ブランド ブログ
          .third-stage
            ステータス / アプリ連携 / 採用情報
          .fourth-stage
            広告掲載方法 / 開発者
        .t-content-right-bottom__twitter-advertisement
          twitter広告



